@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

:root {
  font-size: 18px;
  width: 100%;
  height: 100vh;
}

* {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

body {
  background: #162118;
  user-select: none;
  font-family: 'Lato', sans-serif;
  width: 100%;
}